= image_tag @post.image.url(:medium)
%h2 show.html.haml
%h3= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name
%p
  = @post.get_upvotes.size
  Likes
%P
  = @post.get_downvotes.size
  Bads

= link_to "like", like_post_path(@post), method: :get
= link_to "bad", dislike_post_path(@post), method: :get
#comment
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render "comments/form"

= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }
= link_to "Home", root_path
